{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
    <h1>Welcome to the Randomly Generated Ace Attorney Shitpost Hellhole!</h1>
    <h2><i>Home to only the highest quality of wildly overdone memes!</i></h2>

    <p>Try it out!</p>
    <ul>
        <li><a href="/generate/quotes?num=5">"Incorrect" quotes</a></li>
        <li><a href="/generate/mulaney?num=5">AA characters as John Mulaney quotes</a></li>
        <li><a href="/generate/image">Classic, time-"honored" image macros</a></li>
    </ul>
    <hr />
    <a href="/characters">View the full character list used by the generator</a>
{% endblock %}